/* CSS file, aligns the movie-list compenents nicely and fixes the search bar/button */
#searchWidth
{
    height: 2.5em;
    width: 50%;
    padding-right: 2em;
    padding-left: 2em;
    border-style: solid;
    border-width: medium;
    border-color: black;
    /* margin: 5em 15em 10em 15em; */
}

div.flex {
    display: flex;
    /* border: 1px solid black; */
    margin: 5px;
    /* margin: 5em 15em 10em 15em; */
    padding: 5px;
    align-content: center;
}

body {
    background-image: url("../../assets/img/background2.png");
    /* background-color: #cccccc; */
}