
.logo {
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Changa', sans-serif;
  font-size: 10em;
  text-align: center;
  margin-top: 6em;
}

a {
    color: rgb(100, 11, 11);
    text-decoration: none;
  }

a:hover {
  color:rgb(112, 85, 48)
}

body {
  background-image: url("../assets/img/background2.png");
  /* background-color: #cccccc; */
  background-repeat: repeat;
}